@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.container {
  padding: 16px;
  display: flex;
  flex-flow: column;
  gap: 8px;
  max-width: 375px;
}

.title {
  width: fit-content;
  color: #F86600;
  font-family: 'Passion One', sans-serif;
  font-size: 32px;
  line-height: 35px;
}

.description {
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
}