.container {
  background-color: black;
  display: flex;
  flex-flow: column;
  gap: 7px;
  height: 100vh;
}

.container > main {
  display: flex;
  position: relative;
  gap: 58px;
  justify-content: center;
}

.image {
  position: fixed;
  right: 0;
  margin-right: 80%;
  height: 85vh;
  width: auto;
  z-index: 1;
}

@media (max-width: 768px) {
  .image {
    margin-right: 90%;
  }
}